.titulo{
	position: absolute;
	top: 3px;
	left: 35%;
	font-size: 34px;
	font-weight: bold;
	color: #ffffff;
}

body{
	background: #269090;
  }

  .izquierda{
	position: center;
	top: 550px;
	background: #269090;
	width: 50%;
	color: #000000;
	height: 50px;
}